/* ============================================ *
 * Global
 * ============================================ */

html,
body {
    height: 100%;
}

.main-container {

}

.container {
	margin: 0 15px;
	&.full {
		margin: 0 auto;
	}
}

.full-width {
	width: 100%;
	margin-bottom: 40px;
	.container {
		padding: 40px 20px;
	}
}

section {
	margin-bottom: 40px;
}

@include bp(min-width, $bp-xsmall + 1) {

}

@include bp(min-width, $bp-small + 1) {

}

@include bp(min-width, $bp-medium + 1) {

}

@include bp(min-width, $bp-large + 1) {
	.full-width {
		.container {
			padding: 40px;
		}
	}
}

@include bp(min-width, $bp-xlarge + 1) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		&.full {
			margin: 0 auto;
		}
	}
}
