@charset "UTF-8";

/* ============================================ *
 * Buttons
 * ============================================ */

button {
    border: 0;
    background: $c-blue;
    padding: 12px 20px;
    color: $c-white;
    font-weight:500;
    font-size: 16px;
    @include border-radius(3px);
}



/* Primary Buttons */
.button {
    border-radius: 4px;
    background-color: $c-button;
    display: inline-block;
    padding: 0 5px 0 10px;
    color: $c-white;
    font-size: $f-size;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-decoration:none !important;
    height:40px;
    line-height:40px;
    cursor:pointer;
    //transition: all 0.5s ease;
    span{
        line-height: 40px;
        display:inline-block;
    }
    .no-touch &:hover {
        background-color: $c-button-hover;
    }
    &:after{
        @include icon('i');
        display:inline-block;
        padding: 0 0 0 10px;
        font-size: 18px;
        line-height: 40px;
        color: $c-red;
    }
    &:hover{
        background-color:$c-black;
        color:$c-white;
    }
}
