@charset "UTF-8";

/* ============================================ *
 * Fonts
 * ============================================ */

 @import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,latin-ext);

/* ============================================ *
 * Base Styles
 * ============================================ */

body,
button,
input,
select,
table,
textarea {
	font-family: $f-stack-special;
	color: $c-text;
	font-size: $f-size;
	font-weight: 300;
	line-height: $line-height;
	border-collapse: collapse;
}

a {
	color: $c-link;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $c-link-hover;
	}
	&:focus {
		outline-color: $c-link-active;
		color: darken($c-action, 30%);
	}
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tick {
	padding-left: 20px;
	margin-bottom: 20px;
	li {
		position: relative;
		@include font-icon('I');
		padding-left: 20px;
		padding-bottom: 6px;
		&:before {
			position: absolute;
			font-size: $f-size-l;
			left: 0;
			color: $c-primary;
		}
	}
}

ul.arrow {
	li {
		&:before {
			content: ' ';
			width: 0;
			height: 0;
			border-left: 8px solid $c-white;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: none;
			display: inline-block;
			vertical-align: middle;
			margin-right: 6px;
		}
	}
	&.orange li:before {
		border-left-color: $c-orange;
	}
	&.yellow li:before {
		border-left-color: $c-yellow;
	}
	&.blue li:before {
		border-left-color: $c-blue;
	}
	&.bblue li:before {
		border-left-color: $c-bblue;
	}
}


/* ============================================ *
 * Typography
 * ============================================ */

 h1, .h1 { @include h1; }

 h2, .h2 { @include h2; }

 h3, .h3 { @include h3; }

 h4, .h4 { @include h4; }

 h5, .h5 { @include h5; }

 h6, .h6 { @include h6; }

/* -------------------------------------------- *
 * Breadcrumbs
 */

 .breadcrumbs {
 	overflow: hidden;
 	margin: -15px 0 15px;
 	li {
 		float: left;
 		font-size: $f-size-xs;
 		text-transform: none;
 		&:last-child {
 			strong {
 				color: $c-primary;
 			}
 		}
 		a {
 			float: left;
 			color: $c-text;
 			text-decoration: none;
 			&:hover {
 				color: $c-action;
 				text-decoration: underline;
 			}
 		}
 		strong {
 			color: $c-text;
 			font-weight: normal;
 		}
 		span {
 			float: left;
 			padding: 0 7px;
 		}
 	}

 	@include bp(max-width, $bp-medium) {
 		.breadcrumbs {
 			display: none;
 		}
 	}
 }

/* -------------------------------------------- *
 * Messages
 */
 .success {
 	color: $c-success;
 }

 .error {
 	color: $c-danger;
 	font-weight: bold;
 }

 .notice {
 	color: $c-warn;
 	font-weight: bold;
 }

/* ============================================ *
 * Custom Helpers
 * ============================================ */

 .hidden {
 	display: none!important;
 }

/* ============================================ *
 * Colours
 * ============================================ */

 .b-orange {
 	background: $c-orange;
 }

 .b-blue {
 	background: $c-blue;
 }

 .b-green {
 	background: $c-green;
 }

 .b-grey {
 	background: $c-grey;
 }

 .b-dgrey {
 	background: $c-dgrey;
 }

 .b-lgrey {
 	background: $c-lgrey;
 }

 .b-red {
 	background: $c-red;
 }

/* ============================================ *
 * Before Icons
 * ============================================ */

 .icon-as-seen-tv {
 	@include font-icon('H');
 }
