@mixin button-with-icon($style, $icon) {
	@if $style == bright {
		background: $c-blue;
		color: $c-white;
    }
	@else {
		background: $c-bblue;
		color: $c-white;
	}
	font-size: 18px;
	line-height: 50px;
	height: 50px;
	padding-left: 30px;
	display: inline-block;
	vertical-align: top;
	&:hover {
		@if $style == bright {
			background: darken($c-blue, 10%);
	    }
		@else {
			background: darken($c-bblue, 10%);
		}
		&:after {
			@if $style == bright {
				background: darken($c-bblue, 10%);
		    }
			@else if $style == light {
				background: darken($c-lgrey, 10%);
			}
			@else {
				background: darken($c-blue, 10%);
			}
		}
	}
	&:after {
		content: $icon;
		font-family: "ufhs" !important;
	    font-style: normal !important;
	    font-weight: normal !important;
	    font-variant: normal !important;
	    text-transform: none !important;
	    speak: none;
	    display: inline-block;
	    vertical-align: top;
	    line-height: 56px;
	    height: 50px;
	    width: 50px;
	    font-size: 33px;
	    margin-left: 30px;
	    text-align: center;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    @if $style == bright {
			background: $c-bblue;
			color: $c-blue;
	    }
		@else if $style == light {
			background: $c-lgrey;
			color: $c-blue;
		}
		@else {
			background: $c-blue;
			color: $c-lgrey;
		}
	}
}

@mixin button($button-color, $text-color) {
    background-color: $button-color;
    display: inline-block;
    padding: 6px 34px 6px;
    border: 1px solid darken($button-color, 10%);
    color: $text-color;
    font-size: $f-size;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    .no-touch &:hover {
        color: $text-color;
        text-decoration: none;
        border-color: darken($button-color, 5%);
        background-color: lighten($button-color, 5%);
        cursor: pointer;
    }
    &.arrow {
        span span {
            position: relative;
            display: inline-block;
            padding: 0 25px 0 0;
            @include font-icon("g");
            &:before {
                position: absolute;
                right: -10px;
                top: -2px;
                font-size: 24px;
            }
        }
    }
    &.arrow.back {
        span span {
            padding: 0 0 0 25px;
            &:before {
                left: -10px;
                right: auto;
                content:'f';
            }
        }
    }
}
