@mixin star($colour: $c-red, $size: 100) {
	margin: 50px 0;
	position: relative;
	display: block;
	color: $colour;
	width: 0px;
	height: 0px;
	border-right:  ceil($size) + px solid transparent;
	border-bottom: ceil(($size * 0.7)) + px  solid $colour;
	border-left:   ceil($size) + px solid transparent;
	-moz-transform:    rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform:     rotate(35deg);
	-o-transform:      rotate(35deg);
	&:before {
		border-bottom: ceil(($size * 0.8)) + px solid $colour;
		border-left: ceil(($size * 0.3)) + px solid transparent;
		border-right: ceil(($size * 0.3)) + px solid transparent;
		position: absolute;
		height: 0;
		width: 0;
		top: - + ceil(($size * 0.45)) + px;
		left: - + ceil(($size * 0.65)) + px;
		display: block;
		content: '';
		-webkit-transform: rotate(-35deg);
		-moz-transform:    rotate(-35deg);
		-ms-transform:     rotate(-35deg);
		-o-transform:      rotate(-35deg);
	}
	&:after {
		position: absolute;
		display: block;
		color: $colour;
		top:  ceil(($size * 0.03)) + px;
		left: - + ceil(($size * 1.05)) + px;
		width: 0px;
		height: 0px;
		border-right: ceil($size) + px solid transparent;
		border-bottom: ceil(($size * 0.7)) + px solid $colour;
		border-left: ceil($size) + px solid transparent;
		-webkit-transform: rotate(-70deg);
		-moz-transform:    rotate(-70deg);
		-ms-transform:     rotate(-70deg);
		-o-transform:      rotate(-70deg);
		content: '';
	}
}
