header {
	background: $c-blue;
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
	.logo {
		float: left;
	}
	.tel,
	.email {
		font-size: 18px;
		float: right;
		margin-right: 40px;
		color: $c-white;
	}
	.quick-quote {
		float: right;
	}
}

nav {
	background: $c-lgrey;
	width: 100%;
	.container {
		.main-nav {
			& > li {
				display: inline-block;
				vertical-align: top;
				a {
					color: $c-blue;
					font-size: 15px;
					font-weight: 400;
					padding: 12px 30px;
					display: block;
					&:hover {
						background: darken($c-lgrey, 10%);
						color: darken($c-blue, 15%);
					}
				}
			}
		}
	}
	.parent {
		&:after {
			@include triangle(down, 10px, $c-blue);
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		    margin-left: 5px;
		}
		// needs after to show down triangle
		& + ul {
			display: none;
			li {
				a {

				}
			}
		}
	}
}
