@charset "UTF-8";

/* ============================================ *
 * Buttons
 * ============================================ */

button {
    border: 0;
    background: $c-grey;
    padding: 4px 12px;
}

@mixin button($button-color, $text-color) {
    background-color: $button-color;
    display: inline-block;
    padding: 6px 34px 6px;
    border: 1px solid darken($button-color, 10%);
    color: $text-color;
    font-size: $f-size;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    .no-touch &:hover {
        color: $text-color;
        text-decoration: none;
        border-color: darken($button-color, 5%);
        background-color: lighten($button-color, 5%);
        cursor: pointer;
    }
    &.arrow {
        span span {
            position: relative;
            display: inline-block;
            padding: 0 25px 0 0;
            @include font-icon("g");
            &:before {
                position: absolute;
                right: -10px;
                top: -2px;
                font-size: 24px;
            }
        }
    }
    &.arrow.back {
        span span {
            padding: 0 0 0 25px;
            &:before {
                left: -10px;
                right: auto;
                content:'f';
            }
        }
    }
}

.button.search-button {
    //padding: 6px 16px 6px;
    &:after{
        display:none;
    }
}

/* Primary Buttons */
.button {
    border-radius: 4px;
    background-color: $c-button;
    display: inline-block;
    padding: 0 5px 0 10px;
    color: $c-white;
    font-size: $f-size;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-decoration:none !important;
    height:40px;
    line-height:40px;
    cursor:pointer;
    //transition: all 0.5s ease;
    span{
        line-height: 40px;
        display:inline-block;
    }
    .no-touch &:hover {
        background-color: $c-button-hover;
    }
    &:after{
        @include icon('i');
        display:inline-block;
        padding: 0 0 0 10px;
        font-size: 18px;
        line-height: 40px;
        color: $c-red;
    }
    &:hover{
        background-color:$c-black;
        color:$c-white;
    }
}
.unbutton {
    background: transparent;
    color: $c-link;
    border: none;
    .no-touch &:hover {
        background-color: transparent;
    }
}


/* Secondary Buttons */
.button.button-secondary {
    background: $c-button-secondary;
    color: $c-text;
    border-color: #B8B8B8;

    .no-touch &:hover {
        background: $c-button-secondary-hover;
        cursor: pointer;
    }

    &:active {
        background: $c-button-secondary-active;
        color: $c-text;
    }

    &:focus {
        color: $c-text;
        background: $c-button-secondary-active;
        outline: none;
    }
}

.button.button-secondary {
    &.arrow {
        padding: 6px 36px 4px 16px;
    }
    &.arrow.back {
        padding: 6px 16px 4px 36px;
    }
}

/* Disabled - class for anchor, state for form elements */
.button.disabled,
.button:disabled {
    background: #C8C8C8;
    border-color: shade(#C8C8C8, 20%);
    opacity: 0.6;
    cursor: not-allowed;
}

/* Adjacent buttons */
.button + .button {
    margin-left: 5px;
}

/* Buttons & anchor links */
.col-left,
.col-right {
    // Align the vertical height of the anchor to line up with the button
    .block .actions .button ~ a {
        line-height: 33px;
        margin-right: 5px;
    }
}

/* ============================================ *
 * CMS block buttons
 * ============================================ */

.m-button {
    @include font-icon('n');
    @include font-icon-after('E');
}
