/* ============================================ *
 * Grid styles
 * ============================================ */

.col-set {
	font-size: 0;
	& > div {
		display: inline-block;
		vertical-align: top;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: $gap;
		width: 96%;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@include bp(min-width, $bp-xsmall + 1) {
	.col-set {
		.col-4 {
			width: 49%;
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

@include bp(min-width, $bp-small + 1) {
	.col-set {
		.col-2 {
			width: 46%;
		}
		.col-3 {
			width: 30%;
			margin-left: 1.65%;
			margin-right: 1.65%;
		}
		.col-4 {
			width: 23.5%;
			&:nth-of-type(2n) {
				margin-right: 2%;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		.col-5 {
			width: 18.4%;
		}
	}
}

@include bp(min-width, $bp-medium + 1) {

}

@include bp(min-width, $bp-large + 1) {
	.col-set {
		& > div {
			margin-bottom: 0;
		}
	}
}

@include bp(min-width, $bp-xlarge + 1) {

}
