// ------------------------------
// Common page header graphic
// ------------------------------
.page-header {
	background-position: center center;
	background-size: cover;
	height: 230px;
	width: 100%;
	position: relative;
	margin: 0 0 30px;
	padding-bottom: 48px;
	border-bottom: 8px solid $c-blue;
	h1 {
		background: darken($c-dgrey, 10%);
		width: 100%;
		text-align: center;
		padding: 10px 20px;
		color: #ffffff;
		font-size: 20px;
		position: absolute;
		left: 0;
		bottom: -28px;
		font-weight: 100;
	}
	&.plumbing {
		background-image: url(/images/banners/plumbing-picture.jpg);
	}
	&.heating {
		background-image: url(/images/banners/heating-picture.jpg);
	}
	&.electrical {
		background-image: url(/images/banners/electrical-pictures.jpg);
	}
	&.boilers {
		background-image: url(/images/banners/boiler-picture.jpg);
	}
	&.about-us {
		background-image: url(/images/banners/Vans1.jpg);
	}
	&.contact-us {
		background-image: url(/images/banners/contact-picture.jpg);
	}
	&.commercial {
		background-image: url(/images/banners/commercial.jpg);
	}
	&.prices {
		background-image: url(/images/banners/boiler-picture-3.jpg);
	}
}

#es-water-approved-block {
	display: none;
	position: absolute;
	top: 15px;
	left: 20px;
	width: 341px;
	padding: 20px 20px 14px 20px;
	text-align: left;
	background: $c-white;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	max-width: 87%;
	h3 {
		font-size: 16px;
		margin: 0 0 8px;
		border: none;
		&:before,
		&:after {
			content: none;
		}
	}
}


.hp-es-water {
	@extend #es-water-approved-block;
	left: auto;
	right: 30px;
}


// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#es-water-approved-block {
		left: 30px;
		h3 {
			font-size: 20px;
		}
	}
	.hp-es-water {
		left: auto;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#es-water-approved-block {
		display: block;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.page-header {
		height: 350px;
		padding-bottom: 0;
		h1 {
			background: rgba(0, 0, 0, 0.7);
			padding: 25px 50px;
			font-size: 40px;
			top: 60%;
			bottom: auto;
			width: 341px;
			text-align: center;
		}
	}
	#es-water-approved-block {
		top: 30px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.page-header {
		height: 400px;
	}
}
