


.timeslot {
	span {
		display: inline-block;
		width: 80px;
	}
}

.tel-block {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	strong {
		font-size: 160%;
		line-height: 130%;
		font-weight: 500;
		color: #0E5A94;
		display: block;
	}
	small {
		font-size: 60%;
		line-height: 80%;
		display: block;
	}
	span {
		font-size: 80%;
		font-weight: normal;
		line-height: 80%;
		display: block;
	}
}

// ----------------------
// Contact Page
// ----------------------

#contact-form {
	margin-bottom: 30px;
}

#contact-map {
	height: 400px;
	border: 1px solid $c-grey;
	@include box-shadow(0, 0, 20px, rgba(0,0,0,0.2));
	margin-bottom: 20px;
}

.map-container {
	address {
		color: $c-text;
		font-size: 16px;
	}
}

.call-us-on {
	font-size: 18px;
	margin-bottom: 20px;
	strong {
		font-size: 30px;
		font-weight: 600;
		display: inline-block;
		color: $c-blue;
		line-height: 36px;
		margin-left: 10px;
	}
}

.essex-and-suffolk-water-panel {
	padding: 10px 30px 20px 30px;
	margin: 0 auto 30px auto;
	max-width: 360px;
	border: 1px solid darken($c-lgrey, 5%);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	h3 {
		padding-bottom: 14px;
	}
	img {

	}
}

#boiler-change {
	float: right;
	background: $c-white;
	z-index: 10;
	position: relative;
	padding: 10px 30px 20px 30px;
	margin: 0 0 20px 20px;
	border: 1px solid darken($c-lgrey, 5%);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	h3 {
		font-size: 24px;
	}
	p {
		font-size: 16px;
		line-height: 26px;
		margin: 0;
		strong {
			font-size: 200%;
			color: $c-red;
		}
		span {
			display: block;
		}
	}
}
// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.essex-and-suffolk-water-panel {
		float: right;
		margin: 0 0 30px 30px;
		max-width: auto;
	}
}
