.testimonials {
	position: relative;
}

@mixin quote() {
	display: block;
	&:after,
	&:before {
		content: ' ';
		display: inline-block;
		vertical-align: bottom;
		width: 0;
		height: 0;
		border: 10px solid transparent;
	}
}

@mixin test-blue() {
	background: $c-blue;
	color: $c-lgrey;
	font-weight: 300;
	.open-quote {
		&:after,
		&:before {
			border-left-color: $c-lgrey;
			border-bottom-color: $c-lgrey;
		}
	}
	.close-quote {
		&:after,
		&:before {
			border-right-color: $c-lgrey;
			border-top-color: $c-lgrey;
		}
	}
}

@mixin test-grey() {
	background: $c-lgrey;
	color: $c-text;
	.open-quote {
		&:after,
		&:before {
			border-left-color: $c-blue;
			border-bottom-color: $c-blue;
		}
	}
	.close-quote {
		&:after,
		&:before {
			border-right-color: $c-blue;
			border-top-color: $c-blue;
		}
	}
}

.testimonial {
	@include test-grey();
	padding: 40px 30px;
	position: relative;
	font-weight: 400;
    margin: 0 0 20px 0;
    .dimensions {
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	background: red;
    	color: white;
    	padding: 5px 10px;
    	font-size: 14px;
    }
	&:nth-of-type(2n) {
		@include test-blue();
	}
	.open-quote {
		@include quote();
		margin-bottom: 10px;
	}
	.close-quote {
		@include quote();
		position: absolute;
		right: 30px;
		bottom: 30px;
	}
	.star-rating {
		position: absolute;
		top: 40px;
		right: 20px;
		width: 105px;
		img {
			display: inline-block;
			vertical-align: top;
		    width: 22px;
		    margin-left: -4px;
		}
	}
}

.testimonial-content {
    line-height: 1.4;
    font-size: 15px;
    font-weight: 300;
	&:before {

	}
	.title {
		font-weight: 600;
		margin-bottom: 6px;
	}
	.body {

	}
	.person {
		margin-top: 10px;
		line-height: 1.2;
		strong {
			display: block;
		}
	}
}

// -------------------------
// Extra Small Breakpoint
// -------------------------
@include bp(min-width, $bp-xsmall + 1) {

}

// -------------------------
// Small Breakpoint
// -------------------------
@include bp(min-width, $bp-small + 1) {
	.testimonial {
		padding: 40px 30px;
		width: 49%;
	    margin: 0;
		display: block;
		position: absolute;
		left: 0;
		&:nth-of-type(2n) {
			left: 51%;
		}
		&:nth-of-type(5n+3) {
			@include test-blue();
		}
		&:nth-of-type(5n+4) {
			@include test-grey();
		}
	}
}

// -------------------------
// Medium Breakpoint
// -------------------------
@include bp(min-width, $bp-medium + 1) {

}

// -------------------------
// Large Breakpoint
// -------------------------
@include bp(min-width, $bp-large + 1) {

}

// -------------------------
// Extra Large Breakpoint
// -------------------------
@include bp(min-width, $bp-xlarge + 1) {

}
