#hp-slider {
	.slide {
		position: relative;
		& > img {
		}
		.title {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.primary {
			background: $c-blue;
			color: $c-white;
			font-size: 32px;
			font-weight: 400;
			padding: 30px 50px;
			display: inline-block;
		}
		.secondary {
			background: rgba(0,0,0,0.6);
			width: 100%;
			padding: 20px 50px;
			div {
				max-width: 50%;
				color: $c-white;
				font-size: 24px;
				line-height: 1.3;
				font-weight: 300;
				strong {
					font-weight: 600;
				}
			}
		}
	}
}

#slide-selector {
	width: 100%;
	border-top: 4px solid $c-blue;
	margin-bottom: 30px;
	font-size: 0;
	a {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		color: $c-blue;
		font-size: 16px;
		font-weight: 400;
		background: $c-lgrey;
		padding: 12px 30px;
		text-align: center;
		span {
			&:after {
				@include icon('i');
				display: inline-block;
				margin-left: 10px;
				color: $c-blue;
			}
		}
		&.active,
		&:hover {
			background: $c-blue;
			color: $c-white;
			span {
				&:after {
					content: 'j';
					color: $c-white;
				}
			}
		}
	}
}

.hp-panels {

	img {
		margin-bottom: 20px;
	}
	p {
		font-size: 14px;
	}
}

.request-a-callback {
	text-align: center;
	p {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.button-with-icon {
		@include button-with-icon(dark, 'f');
	}
}

.qualified-engineers-promo {
	.col-set {
		text-align: center;
	}
	p {
		font-size: 24px;
		margin-bottom: 30px;
	    line-height: 1.3;
	}
	.accreditations {
		width: 90%;
		.accreditation {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5% 30px 5%;
		}
	}
	h4 {
		font-size: 21px;
		font-weight: 300;
		margin-top: 10px;
		strong {
			font-size: 150%;
			font-weight: 600;
			color: $c-blue;
		}
	}
}

.boiler-brands {
	.brand-container {
		display: inline-table;
		vertical-align: top;
		width: 11.1%;
		margin: 0 0.5%;
		border: 1px solid darken($c-lgrey, 10%);
		@include box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.3));
		height: 100px;
	}
	.cell {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		img {
			max-width: 90%;
		}
	}
}
