.testimonials {

}

.testimonial {
	padding: 40px 30px;
	background: $c-lgrey;
	position: relative;
	font-weight: 400;
	width: 47%;
    margin: 20px 1%;
	display: inline-block;
	&:nth-of-type(2n) {
		background: $c-blue;
		color: $c-lgrey;
		font-weight: 300;
		.open-quote {
			&:after,
			&:before {
				border-left-color: $c-lgrey;
				border-bottom-color: $c-lgrey;
			}
		}
		.close-quote {
			&:after,
			&:before {
				border-right-color: $c-lgrey;
				border-top-color: $c-lgrey;
			}
		}
	}
	%quote {
		display: block;
		&:after,
		&:before {
			content: ' ';
			display: inline-block;
			vertical-align: bottom;
			width: 0;
			height: 0;
			border: 10px solid transparent;
		}
	}
	.open-quote {
		@extend %quote;
		margin-bottom: 10px;
		&:after,
		&:before {
			border-left: 10px solid $c-blue;
			border-bottom: 10px solid $c-blue;
		}
	}
	.close-quote {
		@extend %quote;
		position: absolute;
		right: 30px;
		bottom: 30px;
		&:after,
		&:before {
			border-right: 10px solid $c-blue;
			border-top: 10px solid $c-blue;
		}
	}
	.star-rating {
		position: absolute;
		top: 40px;
		right: 20px;
		width: 105px;
		img {
			display: inline-block;
			vertical-align: top;
		    width: 22px;
		    margin-left: -4px;
		}
	}
}

.testimonial-content {
    line-height: 1.4;
    font-size: 15px;
    font-weight: 300;
	&:before {

	}
	.title {
		font-weight: 600;
		margin-bottom: 6px;
	}
	.body {

	}
	.person {
		margin-top: 10px;
		line-height: 1.2;
		strong {
			display: block;
		}
	}
}
